# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
